.black_nav {
 width: 100%;
 height: 50px;
 background-color: black;
 display: flex;
 justify-content: space-between;
 padding: 0 3%;

 >.row {
  /* border: 1px solid white; */

  width: 100%;

  >* {
   display: flex;
   height: 100%;
  }

  >div {
   display: flex;
   /* border: 1px solid yellow; */
   height: 100%;

   >* {
    height: 100%;
    /* width: 100%; */
    display: flex;
    padding: 5px;
   }

   >i {
    width: 30px;
   }

   >span {
    color: white;
    align-items: center;
   }
  }
 }

 >nav {
  display: flex;
  align-items: center;
  height: 100%;

  >ul {
   display: flex;

   >li {
    display: flex;

    /* border: 1px solid red; */
    >a {
     color: aliceblue;
     align-items: center;
     padding: 5px;

     >svg {
      width: 30px;

     }
    }
   }
  }
 }
}

/* end of first section/// */
.slider {
 width: 100%;
 min-height: 50vh;
 background-image: url(../Images/hero-1-scaled.jpg);
 background-size: cover;
 position: relative;
 flex-wrap: wrap;
 top: 0;
 left: 0;

 &::before {
  content: '';
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 3%;
  background-color: rgba(0, 0, 0, 0.416);
  position: absolute;
  top: 0;
  left: 0;
 }

 >header,
 >.row {
  position: relative;
  z-index: 50;
 }


 .botton {
  width: 200px;
  height: 60px;
  border: 1px solid white;
  text-transform: capitalize;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;


  >div {
   position: relative;
   /* border: 1px solid red; */
   width: 40px;
   height: 40px;
   overflow: hidden;
   top: 5px;

   >i {
    position: absolute;

    &:first-of-type {
     left: -40px;
    }

    &:last-of-type {
     left: 0;
    }

    >svg {
     width: 30px;
     height: 30px;
     fill: white;
     margin-left: 10px;
    }
   }
  }
 }


 >header {
  width: 100%;
  height: 100px;
  /* border: 1px solid white; */

  >.row {
   >* {
    /* border: 1px solid yellow; */
   }

   >figure {
    width: 20%;
    display: flex;
    align-items: center;
   }

   >nav {
    width: 60%;
    display: flex;
    align-items: center;

    >ul {
     width: 100%;
     display: flex;
     align-items: center;

     >li {
      /* border: 1px solid purple; */
      margin-right: 15px;
      padding: 5px 0;

      >a {
       /* background-color: brown; */
       color: white;
       font-size: 20px;
       position: relative;
       top: 0;
       left: 0;
       text-transform: capitalize;

       &:hover {
        &::after {
         width: 100%;
        }
       }



       &::after {
        content: '';
        transition: .4s;
        height: 1px;
        width: 0px;
        background-color: white;
        position: absolute;
        top: 30px;
        left: 0;
       }


      }
     }
    }
   }

   >div {
    width: 20%;
    display: flex;
    align-items: center;

    >* {
     margin-right: 20px;
    }

    >a {

     >div>i {
      transition: .4s;
     }

     &:hover {
      background-color: white;
      color: black;


      >div>i {
       &:first-of-type {
        left: 0;
       }

       &:last-of-type {
        left: 30px;
       }
      }




      >div {
       >i {
        >svg {
         fill: black;
        }
       }
      }
     }
    }

    >i {
     width: 30px;
    }
   }


  }
 }

 >.row {
  align-items: center;
  justify-content: center;

  >div {
   width: 80%;
   height: 600px;
   /* border: 1px solid white; */
   display: flex;
   align-content: space-evenly;
   justify-content: center;
   flex-wrap: wrap;


   >* {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
   }

   >h1 {
    font-size: 80px;
   }

   >h3 {
    font-size: 28px;
   }


   >a {
    background-color: white;
    color: black;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0);

    >div>i {
     transition: .4s;

     >svg {
      fill: black;
     }
    }

    &:hover {
     background-color: black;
     color: white;

     >div>i {
      &:first-of-type {
       left: 0;
      }

      &:last-of-type {
       left: 30px;
      }

      >svg {
       fill: white;
      }
     }
    }

   }
  }

 }

 .bottomnav {
  width: 100%;
  height: 50px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;

  >p {
   color: black;
   height: 100%;
   font-size: 18px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 0;
  }
 }

}

/* end of second section/// */
.card {
 width: 100%;
 padding: 3%;

 >.row {
  justify-content: space-evenly;

  >figure {
   width: 300px;
   height: 500px;
   /* border: 1px solid black; */
   position: relative;
   display: flex;
   justify-content: center;

   /* overflow: hidden; */
   &:hover {
    >img {
     scale: 1.03;
    }

    >div {
     bottom: -20px;
    }
   }

   >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
   }

   >div {
    width: 90%;
    height: 250px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -30px;
    left: 5%;
    transition: .4s;

    >* {
     width: 100%;
     padding: 10px 0;
     text-align: center;
    }

    >h2 {
     color: black;
     text-transform: capitalize;
    }

    >p {
     color: black;
     text-transform: capitalize;
     position: relative;

     &::after {
      content: '';
      height: 1px;
      width: 70%;
      background-color: rgb(44, 43, 43);
      position: absolute;
      display: flex;
      bottom: -10px;
      left: 15%;
     }
    }

    >h3 {
     color: black;
     text-transform: capitalize;
     margin-top: 15px;
    }

    >a {
     width: 100%;
     height: 60px;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: .4s;
     border: 1px solid white;
     position: absolute;
     left: 0;
     bottom: 0;
     background-color: black;

     &:hover {
      /* background-color: black; */

      >div>i {
       &:first-of-type {
        left: 0;
       }

       &:last-of-type {
        left: 30px;
       }

       >svg {
        fill: white;
       }
      }
     }

     >* {
      display: flex;
      color: white;
     }

     /* >span {} */

     >div {
      position: relative;
      width: 25px;
      height: 25px;
      /* border: 2px solid red; */
      overflow: hidden;
      margin-left: 10px;

      >i {
       position: absolute;
       width: 25px;
       height: 25px;
       fill: white;
       transition: .4s;

       &:first-of-type {
        left: -30px;
       }

       &:last-of-type {
        left: 0;
       }
      }
     }

    }
   }
  }


 }
}

/* end of third section/// */
.poster {
 width: 70%;
 height: 500px;
 /* border: 1px solid black; */
 margin: 100px auto;
 background-color: rgb(161, 175, 188);
 display: flex;
 justify-content: space-between;
 /* position: relative; */

 >div {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  >* {
   /* border: 1px solid red; */
   margin: 15px;

  }


  >h2 {
   font-size: 40px;
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
  }

  >h3 {
   font-size: 18px;
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
  }

  >a {
   width: 250px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: .4s;
   border: 1px solid black;
   /* position: absolute; */
   left: 0;
   bottom: 0;
   background-color: white;

   &:hover {
    background-color: black;

    >span {
     color: white;
    }

    >div>i {
     &:first-of-type {
      left: 0;
     }

     &:last-of-type {
      left: 30px;
     }

     >svg {
      fill: white;
     }
    }
   }

   >* {
    display: flex;
    color: white;
   }

   >span {
    color: black;
   }

   >div {
    position: relative;
    width: 25px;
    height: 25px;
    /* border: 2px solid red; */
    overflow: hidden;
    margin-left: 10px;

    >i {
     position: absolute;
     width: 25px;
     height: 25px;
     transition: .4s;

     >svg {
      fill: black;
     }

     &:first-of-type {
      left: -30px;
     }

     &:last-of-type {
      left: 0;
     }
    }
   }

  }
 }

 >figure {
  width: 40%;

  >img {
   width: 100%;
   height: 100%;
   object-fit: cover;
  }
 }
}

/* end of fourth section/// */
.vid {
 margin: 20px 0;
 width: 100%;
 height: 600px;
 /* border: 1px solid red; */
 position: relative;
 overflow: hidden;

 &::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.486);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
 }

 >video {
  position: absolute;
  width: 100%;
  height: 100%;
  scale: 1.4;


 }

 >div {
  width: 70%;
  height: 70%;
  position: absolute;
  left: 15%;
  top: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  z-index: 50;

  >h2 {
   display: flex;
   justify-content: center;
   width: 100%;
   font-size: 70px;
   color: white;
  }

  >p {
   display: flex;
   justify-content: center;
   width: 100%;
   font-size: 30px;
   color: white;
  }

  >a {
   width: 250px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: .4s;
   /* position: absolute; */
   left: 0;
   bottom: 0;
   background-color: white;

   &:hover {
    background-color: black;

    >span {
     color: white;
    }

    >div>i {
     &:first-of-type {
      left: 0;
     }

     &:last-of-type {
      left: 30px;
     }

     >svg {
      fill: white;
     }
    }
   }

   >* {
    display: flex;
    color: white;
   }

   >span {
    color: black;
   }

   >div {
    position: relative;
    width: 25px;
    height: 25px;
    /* border: 2px solid red; */
    overflow: hidden;
    margin-left: 10px;

    >i {
     position: absolute;
     width: 25px;
     height: 25px;
     transition: .4s;

     >svg {
      fill: black;
     }

     &:first-of-type {
      left: -30px;
     }

     &:last-of-type {
      left: 0;
     }
    }
   }
  }
 }
}

/* end of fifth section/// */
.foot {
>img{
  position: fixed;
 bottom: 20px;
 left: 20px;
 width: 150px;
 height: 150px;
 border-radius: 100%;
}
}